html {
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 46, 37);
}

.nav {
    flex: 1.7;
}

.nav-two {
    flex: 1;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin: 10px;
    padding: 10px;
}

.nav ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
    font-weight: bold;
}

.nav ul li a:hover {
    color: white;
}

.nav ul button {
    color: white;
    background-color: rgb(0, 128, 96);
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border: 2px solid rgb(0, 128, 96);
    border-radius: 5px;
}

.nav ul button:hover {
    background-color: rgb(0, 46, 37);
    cursor: pointer;
}

.nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: bold;
    margin: 10px 0px;
    padding: 10px 0px;

}

.nav ul ul li:first-child {
    border-bottom: 1px solid gray;
}

.nav ul li:hover ul {
    display: block;
}

#subul ul {
    display: none;
    width: 100%;
    position: absolute;
    top: -10px;
    margin-left: 184px;
    background-color: white;
    border-radius: 5px;
    border-left: 1px solid gray;
}

#subul:hover ul {
    display: block;
}

.search input[type='text'] {
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline-color: rgb(0, 128, 96);
}

.search input[type='button'] {
    width: 100px;
    padding: 15px 20px;
    color: white;
    background-color: rgb(0, 128, 96);
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border: 2px solid rgb(0, 128, 96);
    border-radius: 5px;
}

.search input[type='button']:hover {
    background-color: rgb(0, 46, 37);
    cursor: pointer;
}

.title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: rgb(0, 46, 37);
    color: white;
}

.heading {
    flex: 1;
    text-align: right;
}

.motto {
    flex: 1.5;
    margin: 12px 10px;

}

.search {
    flex: 100%;
    text-align: center;
    padding:15px;
}

section {
    display: flex;
    width:90%;
    justify-content: center;
    margin: 50px auto;
}

.sectionleft {
    display: flex;
    flex-direction: column;
    flex:0 1 60%;
}
.sectionleft h4{
    border-bottom: 1px solid gray;
}

.sectleft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectleft img{
    margin:5px;
}

.sectleftone {
    display: flex;
    flex-wrap: wrap;
}

.sectleft1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 11.67%;
    margin: 10px;
}

.sectleftone .sectleft1 h3 {
    color: rgb(0, 46, 37);
    font-weight: bolder;
}

.sectlbrowse ul {
    list-style: none;
}

.sectlbrowse ul a {
    color: rgb(0, 128, 96);
}

.sectionleft ul li a:hover {
    text-decoration: none;
}


.sectionright{
    display: flex;
    flex:0 1 10%;
    flex-direction: column;
}
.sectright{
    display: flex;
    flex-direction: column;
}
.align{
    text-align: center;
    background-color: rgb(0, 46, 37);
    color:white; 
}
.align img{
    margin-left: 160px;
}
.update{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update input[type='text'] {
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline-color: rgb(0, 128, 96);
    margin-bottom: 15px;      
 }

.update input[type='button'] {
    width: 340px;
    padding: 15px 20px;
    color: white;
    background-color: rgb(0, 128, 96);
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border: 2px solid rgb(0, 128, 96);
    border-radius: 5px;
}

.update input[type='button']:hover {
    background-color: rgb(0, 46, 37);
    cursor: pointer;
}
.sectright ul{
    list-style: none;
    border-bottom: 1px solid gray;
}
.sectright ul li a{
    text-decoration: none;
    color:black;
}
.sectright ul li:nth-child(2){
    padding: 10px 0px;
}
.sectright ul li:first-child:hover{
    text-decoration: underline;
}
#green a{
    color: rgb(0, 128, 96);
}
.email {
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.email input[type='text'] {
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline-color: rgb(0, 128, 96);
}

.email input[type='button'] {
    width: 150px;
    padding: 15px 20px;
    color: white;
    background-color: rgb(0, 128, 96);
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border: 2px solid rgb(0, 128, 96);
    border-radius: 5px;
}

.email input[type='button']:hover {
    background-color: rgb(0, 46, 37);
    cursor: pointer;
}

.storeup {
    background-color: rgb(0, 46, 37);
    border-bottom: 2px solid gray;
    padding: 20px;
}

.storeup a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding-bottom: 18px;
}

.storeup a:hover {
    border-bottom: 2px solid white;
}

.stores {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 46, 37);
}

.store {
    flex: 1 4 16.66%;
}

.store ul {
    list-style: none;
}

.store ul li {
    margin-bottom: 10px;
}

.store ul a {
    text-decoration: none;
    color: gray;
}

.store ul a:hover {
    color: white;
}

footer {
    background-color: rgb(0, 46, 37);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footleft i {
    margin: 10px 10px;
}

.footright span {
    margin: 10px 10px;
}

@media all and (max-width:800px) {
    header {
        justify-content: center;
    }

    .title {
        flex-direction: column;
    }

    .heading {
        text-align: left;
    }

    .nav ul li {
        margin: 10px;
        padding: 0px;
    }

    .nav ul button {
        padding: 5px;
    }

    .search {
        display: flex;
        flex-direction: column;
    }

    .search input[type='text'],
    .search input[type='button'] {
        margin-top: 10px;
        width: auto;
    }

    .storeup {
        text-align: center;
    }

    .storeup a {
        padding-bottom: 0px;
    }

    .footleft {
        flex: 100%;
        text-align: center;
    }

    .footright {
        flex: 100%;
        text-align: center;
    }

    .email input[type='button'] {
        font-size: small;
        width: auto;
    }
    section{
        display:flex;
        flex-direction: column;
    }
}